h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

p {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}